*.bak
/.build
/.gitconfig.yml
/.gitmodules.yml
/.pre-commit-config.yaml
/.remote-sync.json
/.venv
/buildconf.yml
/config.php
/dist
/htdocs/css
/htdocs/css/lib/images
/htdocs/css/lib/jquery-ui.min.css
/htdocs/css/style.css
/htdocs/fonts
/htdocs/img
/htdocs/js
/htdocs/manifest.json
/lib/js
/nano
/node_modules
/style/bootstrap
/tmp
/vendor
/yarn-error.log
/buildconf.yml
lobbyscreens/*/
data/lobby.json
htdocs/
