*.bak
vendor/
/config.php
/htdocs/js/editpoll.multichoice.js
/htdocs/js/editpoll.option.js
/htdocs/js/lib/jquery.min.js
/htdocs/js/lib/jquery.min.map
/.build
/.remote-sync.json
/node_modules
/style/bootstrap
/htdocs/jquery.tagit.css
/htdocs/css/lib/images
/htdocs/fonts
/htdocs/css/lib/jquery-ui.min.css
/htdocs/js/lib/jquery-ui.min.js
/htdocs/js/lib/tag-it.min.js
/yarn-error.log
/htdocs
/.venv
