<?php
/**
 * Configuration File
 *
 * All your configuration crap goes here and in phinx.yml.
 *
 * @package vgstation13-web
 */

ini_set('display_errors','On');
error_reporting(E_ALL | E_STRICT);
/*
ini_set('display_errors','1');
ini_set('xdebug.dump.POST','*');
ini_set('xdebug.dump.FILES','*');
*/

/*
set_error_handler('myErrorHandler');
function myErrorHandler($errno, $errstr, $errfile, $errline)
{
    if (!(error_reporting() & $errno)) {
        // This error code is not included in error_reporting
        return;
    }

    switch ($errno) {
    case E_USER_ERROR:
        echo "<b>My ERROR</b> [$errno] $errstr<br />\n";
        echo "  Fatal error on line $errline in file $errfile";
        echo ", PHP " . PHP_VERSION . " (" . PHP_OS . ")<br />\n";
        echo "Aborting...<br />\n";
        exit(1);
        break;

    case E_USER_WARNING:
        echo "<b>WARNING</b> [$errno] $errstr<br />\n";
        break;

    case E_USER_NOTICE:
        echo "<b>NOTICE</b> [$errno] $errstr<br />\n";
        break;

    default:
        echo "Unknown error type: [$errno] $errstr<br />\n";
        break;
    }

    // Don't execute PHP internal error handler
    return true;
}
*/

/**
 * Web Root
 *
 * Specifies absolute path to /vg/station-web, without dangling slashes.
 */
define('WEB_ROOT','http://coolstation.tld');

define('DB_TYPE','mysqli');// or postgres

/**
 * Database DSN
 *
 * Determines how /vg/station-web will connect to the database.
 *
 * Format: {driver}://{username}:{urlencoded password}@{hostname}/{schema}[?persist]
 */
define('DB_DSN','mysqli://username:'.rawurlencode('password').'@server.hostname/schema?persist');

/**
 * How long a session exists
 */
define('COOKIE_LIFETIME',24*60*60);

/**
 * Width of thumbnails.
 */
define('THUMB_WIDTH',150);

/**
 * Images per page
 */
define('NUM_IMAGES_PER_PAGE',8*10);

/**
 * Name of the session-tracking cookie.
 */
define('SESSION_TOKEN', 'vgstation13_session');
define('SESSION_DOMAIN', 'coolstation.tld');

define('SITE_TITLE', 'Title of the Site');

// BAN CONFIGURATION
define('BANCONF_PUBLIC',    1);
define('BANCONF_JOB_BASED', 2);
define('BANCONF_PERMANENT', 4);

// If you have a media server, put it in here.
define('MEDIA_BASEURL', 'https://media.coolstation.tld');
define('MEDIA_KEY', '');

// In case you need to change this. This is autodetected normally.
//define('API_PHP_URL', '.../api.php');
//define('INDEX_PHP_URL', '.../index.php');

// CORS is fucking horrible so here you have to add every domain your website
//  could possibly contact via JS/CSS.
// No, * doesn't work.
$CORS_ALLOWED_DOMAINS = [
  SESSION_DOMAIN,
  'media.coolstation.tld'
];


// Add/remove ban types as needed.
// BANCONF_PUBLIC = Shows up on the public list.
// BANCONF_JOB_BASED = A job ban.
// BANCONF_PERMANENT = Permanent
$CONFIG_BAN_TYPES=array(
    'PERMABAN'     => BANCONF_PUBLIC | BANCONF_PERMANENT,
    'TEMPBAN'      => BANCONF_PUBLIC,
    'JOB_PERMABAN' => BANCONF_PUBLIC | BANCONF_JOB_BASED | BANCONF_PERMANENT,
    'JOB_TEMPBAN'  => BANCONF_PUBLIC | BANCONF_JOB_BASED,
    'APPEARANCE'   => BANCONF_PUBLIC, // vg
    //'CLUWNE'     => BANCONF_PUBLIC | BANCONF_PERMANENT // old vg
);

// Admin Right Flags
define('R_BUILDMODE', 1);
define('R_ADMIN', 2);
define('R_BAN', 4);
define('R_FUN', 8);
define('R_SERVER', 16);
define('R_DEBUG', 32);
define('R_POSSESS', 64);
define('R_PERMISSIONS', 128);
define('R_STEALTH', 256);
define('R_REJUVINATE', 512);
define('R_VAREDIT', 1024);
define('R_SOUNDS', 2048);
define('R_SPAWN', 4096);
define('R_MOD', 8192);
define('R_ADMINBUS', 16384);
define('R_POLLING', 32768);

define('R_MAXPERMISSION', 32768); //This holds the maximum value for a permission. It is used in iteration, so keep it updated.
define('R_HOST', 65535);
define('R_EVERYTHING', R_BUILDMODE | R_ADMIN | R_BAN | R_FUN | R_SERVER | R_DEBUG | R_POSSESS | R_PERMISSIONS | R_STEALTH | R_REJUVINATE | R_VAREDIT | R_SOUNDS | R_SPAWN | R_MOD | R_ADMINBUS | R_POLLING);
define('R_GAME_ADMIN', R_ADMIN | R_SPAWN | R_REJUVINATE | R_VAREDIT | R_BAN | R_POSSESS | R_FUN | R_SOUNDS | R_SERVER | R_DEBUG | R_STEALTH | R_BUILDMODE | R_MOD | R_ADMINBUS);

$ADMIN_FLAGS=array(
	R_BUILDMODE   => 'BUILDMODE',
  R_ADMIN       => 'ADMIN',
  R_MOD         => 'MOD',
	R_BAN         => 'BAN',
	R_FUN         => 'FUN',
	R_SERVER      => 'SERVER',
	R_DEBUG       => 'DEBUG',
	R_POSSESS     => 'POSSESS',
	R_PERMISSIONS => 'PERMISSIONS',
	R_STEALTH     => 'STEALTH',
	R_REJUVINATE  => 'REJUVINATE',
	R_VAREDIT     => 'VAREDIT',
	R_SOUNDS      => 'SOUNDS',
	R_SPAWN       => 'SPAWN',
	R_ADMINBUS    => 'ADMINBUS',
	R_POLLING     => 'POLLS',
);

$ADMIN_RANKS=[
  'Host'       => R_EVERYTHING,
  'Game Admin' => R_GAME_ADMIN,
  'ZERO' => 0,
];
