/**
 * SCSS Stylesheet (for the lobby screen)
 *
 * Transformed into CSS by htdocs/style.php.
 *
 * Blah blah MIT License (c)2017 VGWS Contributors.
 */
// PREDEFINED VARIABLES
/////////////////////////////////////
// These variables are set by style.php and correspond to internal VGWS variables.
$base_image_uri: '[WEB_ROOT]/img' !default;
$icon-font-path: '[WEB_ROOT]/fonts/' !default;
// For glyphicons.
@import "bootstrap/_variables";
@import "bootstrap/_mixins";
@import "bootstrap/_glyphicons";
@import "_funcs";
@import "mixins/_font_decl";

//@include font-face(BebasNeueRegular, '/fonts/lib/bebas-neue/bebas-neue-regular', null, null, eot woff otf);
@include font-face(BebasNeueBold,    '/fonts/lib/bebas-neue/bebas-neue-bold', null, null, eot woff otf);
//@include font-face(BebasNeueThin,    '/fonts/lib/bebas-neue/bebas-neue-thin', null, null, eot woff otf);

body,
html {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vh;
  color: #f00;
  font-family: arial, sans-serif;
  font-size: small;
  height: 100vh;
  //image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: pixelated;                 /* Chrome */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
  margin: 0;
  padding: 0;
}

#credits-box {
  color: #aaa;
  //font-weight: bold;
  text-shadow:  1px  0px 0px #000,
               -1px  0px 0px #000,
                0px  1px 0px #000,
                0px -1px 0px #000;
  display: flex;
  flex-direction: column;
  justify-items: left;
  position: absolute;
  bottom: .25em;
  left: .25em;
  //font-family: 'BebasNeueRegular';
  font-family: sans-serif;
  font-size: 1em;
  > span {
    display: block;
  }
  > span#credits-title {
    color: #fff;
    font-family: 'BebasNeueBold';
    font-size: 2em;
  }
}

#background {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  position: fixed;
  width: 100%;

  >img,
  >video {
    display: inline-block;
    height: 100%;
    //z-index: -1000;
  }
}
#tinker-button {
  color:#fff;
  display:flex;
  flex-direction:column;
  font-family:sans-serif;
  font-size:1em;
  height: 32px;
  justify-items:right;
  position:absolute;
  right:0.25em;
  text-shadow:1px 0px 0px #000, -1px 0px 0px #000, 0px 1px 0px #000, 0px -1px 0px #000;
  top:0.25em;
  width: 32px;
}
input[type=text] {
  border: 1px solid #93cee9;
  background: #eff;
  border-radius: 3px;
  padding: .25em;
  transition: .2s;
  &:disabled {
    background-color: #eee;
    color: #999;
    border-color: #ccc;
  }
  &.modified {
    background-color: #fec;
    box-shadow: 0 0 3px #ffa500;
    border-color: #ffa500;
    transition: .2s;
  }
}
