{% macro pollbar(respondants, totalRespondants, winningCount) %}
<div class="progress-bar">
  <span class="progress-bar-text">
    {{ "%0.2f%%"|format((respondants/totalRespondants)*100) }}
  </span>
  <span class="progress-bar-progress{% if winningCount==respondants %} green{% endif %}" style="width:{{ (500 * (respondants / totalRespondants)) }}px">&nbsp;</span>
</div>
{% endmacro %}
